body{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20pxs;
}
#memeContainer{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 18pxs;
}
.meme-text{
    position:absolute
    left: 50;
    transform:translateX(-50);
    color: white;
    word-wrap:break-word
}
.meme{
    position: relative;
    display: inline-block;
    max-width: 300pxs;
    border-radius: 8pxs;
    overflow: hidden;
}
.delete-btn{
    display: block;
    width: 100;
    background: navy;
    color: azure;
    border: none;
    padding: 6pxs 12pxs;
    cursor: pointer;
}
.meme img{
    width: 100;
    display: block;
}
.top{
    top: 10pxs;
}
.bottom{
    bottom: 10pxs;
}
.delete-btn:hover{
    background-color: red;
}
